@media (max-width:850px) {
    .div1 nav {
        display: none;
    }

    .header_container {
        width: 100%;
        max-width: 850px;

    }

    .div1 a {
        display: none ;
    }

    .burger_menu_icon {
        display: flex !important;
        justify-content: flex-end;
    }

    .bootstrap_section {
        width: 850px;
        object-fit: fill;
    }

    .carousel  .carousel-inner  .carousel-item  img{
        width: 850px;
    }

    .nist {
        width: 850px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sec3_maindiv {
        width: 850px;
    }

    .background_img_index {
        width: 850px !important;
    }

    .background_img_div_p {
        top: 0;
    }

    .quote_div {
        width: 850px;
    }

    footer {
        width: 850px;
        height: 800px;
    }

    .line1 {
        flex-direction: row;
        display: flex;
        align-items: center;
    }
   
    .line1_help, .line1_contact, .line1_contact {
        display: none;
    }

    .form_submit {
        padding-left: 340px;
    }


    /* aboutus.html */

    .our_story_img_div {
        width: 850px;
    }

    .our_story_img {
        width: 850px;
    }

    .our_story_img_h1 {
        width: 850px;
    }

    .three_circle_header {
        width: 850px;
        display: flex;
        align-items: center;
    }

    .title_line {
        width: 150px;
    }

    .three_circle {
        width: 850px;
        flex-direction: column;
        height: 1000px;
        align-items: center;
    }

    .about_us_img_div {
        width: 850px;
    }

    .about_us_img {
        width: 850px;
    }

    footer {
        width: 850px;
        height: 800px;
    }

    /* product.html */

    .products_image_div {
        width: 850px;
    }

    .products_image {
        width: 850px;
    }

    .products_image_h1 {
        width: 850px;
    }

    .nist1 {
        width: 850px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* review.html */
    /* nothing to change */

    /* contact.html */
    /* nothing to change */


}