@media (max-width:850px) {
    .div1 nav {
        display: none;
    }

    .header_container {
        max-width: 850px;

    }

    .div1 a {
        display: none ;
    }

    .burger_menu_icon {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .bootstrap_section {
        max-width: 850px;
    }

    .carousel  .carousel-inner  .carousel-item  img{
        max-width: 850px;
    }

    .nist {
        min-width: 850px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .sec3_maindiv {
        max-width: 850px;
    }

    .background_img_index {
        max-width: 850px !important;
    }

    .background_img_div_p {
        top: 0;
    }

    .quote_div {
        max-width: 850px;
    }

    footer {
        max-width: 850px;
        height: 800px;
    }

    .line1 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
   
    .line1_help, .line1_contact, .line1_contact {
        display: none;
    }

    .form_submit {
        padding-left: 340px;
    }


    /* aboutus.html */

    .our_story_img_div {
        width: 850px;
    }

    .our_story_img {
        width: 850px;
    }

    .our_story_img_h1 {
        width: 850px;
    }

    .three_circle_header {
        width: 850px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .title_line {
        width: 150px;
    }

    .three_circle {
        width: 850px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 1000px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .about_us_img_div {
        width: 850px;
    }

    .about_us_img {
        width: 850px;
    }

    footer {
        width: 850px;
        height: 800px;
    }

    /* product.html */

    .products_image_div {
        width: 850px;
    }

    .products_image {
        width: 850px;
    }

    .products_image_h1 {
        width: 850px;
    }

    .nist1 {
        width: 850px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    /* review.html */
    /* nothing to change */

    /* contact.html */
    /* nothing to change */


}